.banner-title{
    color:#232129
}

.banner-title-prime{
    color:#1d2d9b !important;
}

.bg-btn-linear{
    background: #1d2d9b;
    border:none
}


.nowrap{
    text-wrap: nowrap;
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1128px !important;
    }
}

.cus-btn-hd{
    background: linear-gradient(93deg, rgb(125, 37, 236) -15.1%, rgb(204, 180, 255) 144.78%) !important;
}


.speedwave {
    display: block;
    width: 100px;
    height: 1px;
    margin-top: 12px;
    background: linear-gradient(269.92deg, #1d2d9b 1.44%, rgba(255, 255, 255, 0) 99.93%);
}