
.card-img-top{
    height:250px;
    width:100%;
}


.swiper-slide{
    width:70%;
}

.banner-title{
    color:#232129
}

.banner-title-prime{
    color:#1d2d9b
}

.bg-btn-linear{
    background: #1d2d9b;
    border:none
}


.nowrap{
    text-wrap: nowrap;
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1128px !important;
    }
}

.cus-btn-hd{
    background: linear-gradient(93deg, rgb(125, 37, 236) -15.1%, rgb(204, 180, 255) 144.78%) !important;
}


