    
      <!-- Sections:Start -->
      
      <div data-bs-spy="scroll" class="scrollspy-example">
        <!-- Hero: Start -->
        <section id="hero-animation" class="nav-bg-main-abt image-container" style="background-image: url(assets/images/banner/about-us-main.jpg) !important;">
         
          <div id="landingHero" class="section-py position-relative" style="padding-block-start: 10.2rem">
            <div class="container container-abt px-md-0">
                     <h1 class="" style="line-height: 1.5;font-size:55px">
                            <span class="banner-title text-white">Our 
                              <span class="banner-title banner-title-prime">Story</span>
                            </span>
                            <br>
                            <span class="banner-title text-white">Our 
                                <span class="banner-title banner-title-prime">Values</span>
                            </span>
                            <br>

                              <span class="banner-title text-white">Our
                                <span class="banner-title banner-title-prime">Commitment</span>
                              </span>

                        </h1>
                    </div>
        </div>
        
        </section>

  

         <section class="pt-5">
          <div class="container px-md-0 py-5">
         

            <div class="">
              <div class="">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-8" style="padding-right: 50px;">
                    <h3 class=" banner-title-prime text-left fw-bold">
                      Our Story
                    </h3>  

                    <div class="fs-11" style="font-size: 14px;">
                      <p class="text-left">
                      At NOUSINVENTA, a women-led technology firm, we are passionate about transforming businesses through the power of AI and cutting-edge technology.
                     We are a team of skilled developers and innovators dedicated to creating scalable, secure, and user-friendly software solutions that address the unique needs of our clients. 
                      As a women-led company, we often approach challenges with a holistic perspective, considering multiple stakeholders and leveraging empathy to find innovative and sustainable solutions.
                      This leads to more robust and adaptable business models.
                      </p>
                    </div>
                  
                    <div class="row d-flex justify-content-start">
                 <div class="col-lg-10 " style="font-size: 13px;">
                  <div class="d-flex mt-2">
                    <div >
                      <span class="badge badge-center bg-success rounded-pill bg-glow bg-number-box"><i class="ti ti-check" style="font-size: 10px;"></i></span>
                    </div>
                     <div class="ms-2 ">
                         Our mission is to help businesses unlock their full potential by leveraging the latest advancements in AI, analytics, and cloud technologies.
                      </div>
                 </div>

                 <div class="d-flex mt-2">
                  <div >
                    <span class="badge badge-center bg-success rounded-pill bg-glow bg-number-box"><i class="ti ti-check" style="font-size: 10px;"></i></span>
                  </div>
                   <div class="ms-2">
                    We specialize in custom software development and provide comprehensive technology consulting services to help you achieve your business goals.
                   </div>
               </div>


               <div class="d-flex mt-2">
                <div >
                  <span class="badge badge-center bg-success rounded-pill bg-glow bg-number-box"><i class="ti ti-check" style="font-size: 10px;"></i></span>
                </div>
                 <div class="ms-2">
                      Whether you're a small business looking to streamline your operations or a large enterprise seeking to gain a competitive edge, NOUSINVENTA is your partner in digital transformation. 
                  </div>
             </div>

             <div class="d-flex mt-2">
              <div >
                <span class="badge badge-center bg-success rounded-pill bg-glow bg-number-box"><i class="ti ti-check" style="font-size: 10px;"></i></span>
              </div>
               <div class="ms-2 ">
                We are committed to delivering exceptional results and exceeding your expectations.
               </div>
               </div>
                  </div>
                </div>
              </div>  

              <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="process-list-items ">
                 <!-- <img class="location" src="images/bg_watermark_2.png" alt=""> -->
               </div> 
               <div class="login-area" style="display:block;">
                   <div class="row">
               <div class="login-rt-img">
                 <img src="../../assets/images/common/Our Story.png" alt="" class="login-img-1">
                 <img src="../../assets/images/common/login-main-sub.png" alt="" class="login-img-2">
               </div>
               </div>
               </div>
             </div>

            </div>  
            </div>
          </div>

          <div class="col-lg-5">

          </div>
            </div>
          
         </section> 

         
         <section class="pt-5 bg-blend-around bg-pattern-dot">
          <div class="container px-md-0 py-5">
            <h3 class=" banner-title-prime text-center fw-bold">
              Our Values
            </h3>  
              <h6 class="">
              </h6> 
               <div class="row  our-val">
                <div class="col-lg-4">
                  <div class="row">
                      <div class="col-lg-12">
                        <div class="card mb-6 shadow-lg">
                          <div class="card-body">
                            <div class="avatar flex-shrink-0 me-4 mb-3">
                              <span class="avatar-initial rounded bg-label-primary"><i class="icon-base ti ti-video icon-lg"></i></span>
                            </div>
                            <div class="card-text">
                              <p  class="text-dark fw-semibold mb-2">Unleashing Bold Innovation</p>
                              <p class="m-0">We aggressively pursue uncharted technological frontiers, daring to innovate relentlessly with AI and cutting-edge technology to deliver truly transformative solutions that redefine your business potential.</p>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="card mb-6 shadow-lg">
                            <div class="card-body">
                              <div class="avatar flex-shrink-0 me-4 mb-3">
                                <span class="avatar-initial rounded bg-label-dark"><i class="icon-base ti ti-video icon-lg"></i></span>
                              </div>
                              <div class="card-text">
                                <p  class="text-dark fw-semibold mb-2"> Relentless Pursuit of Knowledge</p>
                                <p class="m-0">Fueled by an insatiable curiosity, our team operates as a collective of perpetual learners. We aggressively explore the latest breakthroughs in AI, analytics, and cloud, ensuring you consistently benefit from the most advanced and impactful solutions the industry offers.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                 </div> 

                 <div class="col-lg-4 d-flex align-items-center">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card mb-6 shadow-lg">
                        <div class="card-body">
                          <div class="avatar flex-shrink-0 me-4 mb-3">
                            <span class="avatar-initial rounded bg-label-success"><i class="icon-base ti ti-video icon-lg"></i></span>
                          </div>
                         <div class="card-text">
                          <p  class="text-dark fw-semibold mb-2">Deeply Empathetic Partnerships</p>
                          <p class="">We go beyond understanding; we deeply empathize with your unique challenges and aspirations. By intently listening and putting ourselves directly in your position, we forge tailored solutions that precisely resonate with and powerfully achieve your specific business objectives.</p>
                         </div>
                        </div>
                      </div>
                      </div>
                  </div>
                 </div> 

                 <div class="col-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card mb-6 shadow-lg">
                        <div class="card-body">
                          <div class="avatar flex-shrink-0 me-4 mb-3">
                            <span class="avatar-initial rounded bg-label-info"><i class="icon-base ti ti-video icon-lg"></i></span>
                          </div>
                          <div class="card-text">
                            <p  class="text-dark fw-semibold mb-2">Client-Centricity</p>
                            <p class="">Your triumph is our ultimate victory. We are fiercely committed to forging strong, collaborative partnerships, placing your goals at the absolute core of every decision and ensuring our technology services are laser-focused on delivering your desired outcomes with unwavering dedication.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="card mb-6 shadow-lg">
                        <div class="card-body">
                          <div class="avatar flex-shrink-0 me-4 mb-3">
                            <span class="avatar-initial rounded bg-label-secondary"><i class="icon-base ti ti-video icon-lg"></i></span>
                          </div>
                          <div class="card-text">
                            <p  class="text-dark fw-semibold mb-2">Committing to a Green Earth</p>
                            <p class=""> We recognize our responsibility to the planet. We strive to develop and implement sustainable technology solutions, promoting environmentally conscious practices within our own operations and empowering our clients to build a greener future through technology.</p>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                 </div> 

               </div> 
            </div>
          
         </section> 

         <section class="py-7">
          <div class="container px-md-0 py-5">
            <h3 class=" banner-title-prime text-center fw-bold">
              Our Commitment
            </h3>  
          
 <div class="swiper-reviews-carousel overflow-hidden mt-7">
      <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden" id="swiper-reviews">
        <div class="swiper-wrapper" id="swiperWrapper">
          
          <div class="swiper-slide">
              <div class="card shadow-lg mb-3">
                <div class="card-img-box">
                  <img class="card-img-top" src="../../assets/images/abt-commitment/responsible support.png" alt="Card image cap">
                </div>  
                <div class="card-body">
                    <h5 class="banner-title-prime">Responsive Support</h5>
                    <p class="card-text">We are readily available for our customers, offering responsive support and open communication when you need it most. Your success is our priority.</p>
                    <p class="card-text">
                      <small class="text-primary"><a href="javascript:;" class="text-decoration-underline">Read More</a></small>
                    </p>
                  </div>
                </div>
          </div>

          <div class="swiper-slide">
              <div class="card shadow-lg">
                <div class="card-img-box">
                  <img class="card-img-top" src="../../assets/images/abt-commitment/Reliable Solutions.png" alt="Card image cap">
                 </div> 
                  <div class="card-body">
                    <h5 class="banner-title-prime">Reliable Solutions</h5>
                    <p class="card-text">We deliver reliable solutions built on expertise and proven methodologies, ensuring stability, security, and optimal performance for your technology</p>
                    <p class="card-text">
                      <small class="text-primary"><a href="javascript:;" class="text-decoration-underline">Read More</a></small>
                    </p>
                  </div>
                </div>
          </div>

          <div class="swiper-slide">
              <div class="card shadow-lg">
                <div class="card-img-box">
                  <img class="card-img-top" src="../../assets/images/abt-commitment/Proactive Value Partner.png" alt="Card image cap">
                 </div>
                  <div class="card-body">
                    <h5 class="banner-title-prime">Proactive Value Partner</h5>
                    <p class="card-text">We strive to be your value partner, going beyond simply providing services to offer strategic insights, anticipate your needs, and contribute directly to your business growth.</p>
                    <p class="card-text">
                      <small class="text-primary"><a href="javascript:;" class="text-decoration-underline">Read More</a></small>
                    </p>
                  </div>
                </div>
          </div>
          <div class="swiper-slide">
              <div class="card shadow-lg">
                <div class="card-img-box">
                  <img class="card-img-top" src="../../assets/images/abt-commitment/Uncompromising Quality.png" alt="Card image cap">
                </div>
                  <div class="card-body"> 
                    <h5 class="banner-title-prime">Uncompromising Quality</h5>
                    <p class="card-text">We are committed to delivering high-quality services in every interaction, from initial consultation to ongoing support. Excellence is our standard.</p>
                    <p class="card-text">
                      <small class="text-primary"><a href="javascript:;" class="text-decoration-underline">Read More</a></small>
                    </p>
                  </div>
                </div>
          </div>

          <div class="swiper-slide">
              <div class="card shadow-lg">
                <div class="card-img-box">
                  <img class="card-img-top" src="../../assets/images/abt-commitment/TRansparent Communication.png" alt="Card image cap">
                 </div> 
                  <div class="card-body">
                    <h5 class="banner-title-prime">Transparent Communication</h5>
                    <p class="card-text">We believe in clear and transparent communication, keeping you informed every step of the way and fostering a relationship built on trust.</p>
                    <p class="card-text">
                      <small class="text-primary"><a href="javascript:;" class="text-decoration-underline">Read More</a></small>
                    </p>
                  </div>
                </div>
          </div>    
          </div>
  </div>
</div>
</div>

         
         </section> 


         <section>
            <div class="container pb-12">
              <div class="abt-layer d-flex align-items-center justify-content-center">
                    <div class= "">
                        <h2 class="text-center text-white mb-2 section__title-title fw-bold">
                          Start Your Journey With <br>Power AI
                        </h2>
                          <p class="section__title-desc text-center">
                            Unleash the power of AI-driven creativity and elevate your<br>
                            projects to new heights.
                          </p >
                          <div class="text-center">
                              <a class="pai__button pai__button-style-1" 
                              [routerLink]="['/contact']" href="javascript:;"> Contact us</a>
                            </div>
                    </div>
                </div>
            </div>  
          </section>
  
      </div>

  