     
      <div data-bs-spy="scroll" class="scrollspy-example">
        <!-- Hero: Start -->
        <section id="hero-animation" class="nav-bg-main-abt" style="background-image: url(assets/images/banner/perspective-1.jpg) !important;">
         
          <div id="landingHero" class="section-py position-relative" style="padding-block-start: 12.9rem">
            <div class="container container-abt px-md-0">
                     <h1 class="" style="line-height: 1.2;">
                            <span class="banner-title text-white">Explore key  
                                <span class="banner-title banner-title-prime">innovations and strategies</span> shaping the future of technology and business and transformation <br> in the digital era. 
                              
                            </span>
                            <br>
                        
                        </h1>
                    </div>
        </div>
        
        </section>

        <section>
            <div class="container py-12">
                <div class="row gap-6">
                    <div class="col-12">
                        <div class="card shadow-lg">
                          <div class="d-flex flex-md-row flex-column">
                            <div>
                              <img class="card-img card-img-left" src="https://demos.pixinvent.com/vuexy-html-admin-template/assets/img/elements/47.png" alt="Card image">
                            </div>
                            <div>
                              <div class="card-body ">
                                <h6 class="card-title banner-title-prime mb-1">AI-Cloud</h6>
                                <h5 class="card-title mb-1">What is AI?</h5>
                                <small class="card-text text-body-secondary text-small">Artificial intelligence (AI) is a set of technologies that enable computers to perform a variety of advanced functions, including the ability to see, understand and translate spoken and written language, analyze data, make recommendations, and more. </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="card shadow-lg">
                            <div class="d-flex flex-md-row flex-column">
                              <div>
                                <img class="card-img card-img-left" src="https://demos.pixinvent.com/vuexy-html-admin-template/assets/img/elements/48.png" alt="Card image">
                              </div>
                              <div>
                                <div class="card-body ">
                                  <h6 class="card-title banner-title-prime mb-1">AI-Cloud</h6>
                                  <h5 class="card-title mb-1">How does the bias-variance trade-off affect model performance?</h5>
                                  <small class="card-text text-body-secondary text-small">In machine learning, the bias-variance trade off is crucial for model accuracy. High bias can lead a model to miss relevant relations between features and target outputs (underfitting), whereas high variance can cause the model to fit too closely to the training data, including the noise and errors (overfitting). The goal is to find a good balance between these two to minimize total error.</small>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>

                      <div class="col-12">
                        <div class="card shadow-lg">
                            <div class="d-flex flex-md-row flex-column">
                              <div>
                                <img class="card-img card-img-left" src="https://demos.pixinvent.com/vuexy-html-admin-template/assets/img/elements/50.png" alt="Card image">
                              </div>
                              <div>
                                <div class="card-body ">
                                  <h6 class="card-title banner-title-prime mb-1">AI-Cloud</h6>
                                  <h5 class="card-title mb-1">Can you give an example of how AI has transformed a traditional industry?</h5>
                                  <small class="card-text text-body-secondary text-small">A great example is the retail industry. AI has revolutionized the sector by enabling personalized shopping experiences through data analytics, optimizing supply chains with predictive modeling, and enhancing customer service through chatbots and automated systems.</small>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>

                </div>
            </div>      
            
        </section>
        </div>