.banner-para{
    font-size: 14px;;
}

.banner-title{
    font-weight: 600;
    color:#232129
}

.nav-logo-img{
    height:50px;
    width:225px;
}

.section-py {
    padding-block: 3.25rem;
}

.nav-bg-main{
    background:#f8f8f8 !important
}


.banner-title-prime{
    color:#07a7fd
}

.bg-btn-linear{
    background: #07a7fd;
    border:none
}

.banner-main-img{
    max-height:100%;
    max-width:100%;
}

.nowrap{
    text-wrap: nowrap;
}

.dropdown-menu .dropdown-item{
    font-size: 14px !important;
}

.icon-prime-color{
    color:#78fac5; 
}


@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1128px !important;
    }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #07a7fd;
}

.bg-number-box{
    background-color: #78fac5 !important;
    color: #fff !important;
}

.tab-b-bg{
    border:none;
    border-radius: 40px !important;
    background-color: #f7fbff;
}


.banner-main-img-a{
    max-height:100%;
    max-width:70%;
}