.line-btn .line-decoration {
    width: 60px;
    height: 3px;
    background: #6740ba;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
    position: absolute;
    top: -3px;
    overflow: hidden;
}

.swiper-pagination {
     position: relative !important;
}