<div class="py-7" style="">
<div class="container">
    <div class="" >
        <h4 class="mb-0">Case Studies</h4>
        <p class=""> Discover the many ways in which our clients have embraced the benefits of the Simform way of engineering.</p>
    </div>
    <div class="swiper-reviews-carousel overflow-hidden mt-7">
        <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden" id="swiper-reviews-case">
          <div class="swiper-wrapper" id="swiperWrapper">
            
            <div class="swiper-slide px-2">
                <div class="card shadow mb-3 py-3">
                    <div class="row">
                        <div class="col-lg-7 col-md-6">
                            <div class="case-slide-left p-7">
                                <div class="d-flex justify-content-start">
                                    <div class="slide-tag bg-secondary text-white  px-3 py-2 rounded mb-4 me-3">Cloud and DevOps engineering</div>
                                    <div class="slide-tag bg-secondary text-white px-3 py-2 rounded mb-4">Digital product engineering</div>
                                </div>
                                <h3 class="slide-title" style="line-height: 1.3;">Modernization of legacy inventory system for a leading manufacturer of utility transmission part
                                </h3>
                                <p class="slide-description">Automated inventory verification process, seamless migration of legacy RFQ system to cloud
                                    and integrated the new platform with multiple ERP systems of manufacturers. Provided a unified view of the quotation
                                    process to key stakeholders spread across the world.</p>
                                <div class="slide-divider border-top text-primary mb-4"></div>
                                <p class="slide-conclusion text-dark fw-bold">Modern solution with database automation on Azure reduced turnaround time to generate
                                    quotation by 70%.</p>
                                <a name="Modernization of legacy inventory system for a leading manufacturer of utility transmission part"
                                    class="line-btn"
                                    href="https://www.simform.com/case-studies/enterprise-app-development-for-utility-transmission-manufacturer/"
                                    tabindex="0" data-faitracker-click-bind="true">
                                    <div class="line-decoration"></div>
                                    See More
                                </a>
                                </div>
                        </div>
                        <div class="col-lg-5 col-md-6 m-auto">
                            <img src="assets/images/common/bank.png" alt="" class="breadcrumb-shape-4">
                        </div>
                     </div>   
                </div>
            </div>

            <div class="swiper-slide px-2">
                <div class="card shadow mb-3 py-3">
                    <div class="row">
                        <div class="col-lg-7 col-md-6">
                            <div class="case-slide-left p-7">
                                <div class="d-flex justify-content-start">
                                    <div class="slide-tag bg-lighter px-3 py-2 rounded mb-4 me-3">Cloud and DevOps engineering</div>
                                    <div class="slide-tag bg-lighter px-3 py-2 rounded mb-4">Digital product engineering</div>
                                </div>
                                <h3 class="slide-title" style="line-height: 1.3;">Modernization of legacy inventory system for a leading manufacturer of utility transmission part
                                </h3>
                                <p class="slide-description">Automated inventory verification process, seamless migration of legacy RFQ system to cloud
                                    and integrated the new platform with multiple ERP systems of manufacturers. Provided a unified view of the quotation
                                    process to key stakeholders spread across the world.</p>
                                <div class="slide-divider border-top text-primary mb-4"></div>
                                <p class="slide-conclusion text-dark fw-bold">Modern solution with database automation on Azure reduced turnaround time to generate
                                    quotation by 70%.</p>
                                <a name="Modernization of legacy inventory system for a leading manufacturer of utility transmission part"
                                    class="line-btn"
                                    href="https://www.simform.com/case-studies/enterprise-app-development-for-utility-transmission-manufacturer/"
                                    tabindex="0" data-faitracker-click-bind="true">
                                    <div class="line-decoration"></div>
                                    See More
                                </a>
                                </div>
                        </div>
                        <div class="col-lg-5 col-md-6 m-auto">
                            <img src="assets/images/common/health.png" alt="" class="breadcrumb-shape-4">
                        </div>
                     </div>   
                </div>
            </div>
            <div class="swiper-slide px-2">
                <div class="card shadow mb-3 py-3">
                    <div class="row">
                        <div class="col-lg-7 col-md-6">
                            <div class="case-slide-left p-7">
                                <div class="d-flex justify-content-start">
                                    <div class="slide-tag bg-warning text-white px-3 py-2 rounded mb-4 me-3">Cloud and DevOps engineering</div>
                                    <div class="slide-tag bg-warning text-white px-3 py-2 rounded mb-4">Digital product engineering</div>
                                </div>
                                <h3 class="slide-title" style="line-height: 1.3;">Modernization of legacy inventory system for a leading manufacturer of utility transmission part
                                </h3>
                                <p class="slide-description">Automated inventory verification process, seamless migration of legacy RFQ system to cloud
                                    and integrated the new platform with multiple ERP systems of manufacturers. Provided a unified view of the quotation
                                    process to key stakeholders spread across the world.</p>
                                <div class="slide-divider border-top text-primary mb-4"></div>
                                <p class="slide-conclusion text-dark fw-bold">Modern solution with database automation on Azure reduced turnaround time to generate
                                    quotation by 70%.</p>
                                <a name="Modernization of legacy inventory system for a leading manufacturer of utility transmission part"
                                    class="line-btn"
                                    href="https://www.simform.com/case-studies/enterprise-app-development-for-utility-transmission-manufacturer/"
                                    tabindex="0" data-faitracker-click-bind="true">
                                    <div class="line-decoration"></div>
                                    See More
                                </a>
                                </div>
                        </div>
                        <div class="col-lg-5 col-md-6 m-auto">
                            <img src="assets/images/common/travel.png" alt="" class="breadcrumb-shape-4">
                        </div>
                     </div>   
                </div>
            </div>
            <div class="swiper-slide px-2">
                <div class="card shadow mb-3 py-3">
                    <div class="row">
                        <div class="col-lg-7 col-md-6">
                            <div class="case-slide-left p-7">
                                <div class="d-flex justify-content-start">
                                    <div class="slide-tag bg-success text-white px-3 py-2 rounded mb-4 me-3">Cloud and DevOps engineering</div>
                                    <div class="slide-tag bg-success text-white px-3 py-2 rounded mb-4">Digital product engineering</div>
                                </div>
                                <h3 class="slide-title" style="line-height: 1.3;">Modernization of legacy inventory system for a leading manufacturer of utility transmission part
                                </h3>
                                <p class="slide-description">Automated inventory verification process, seamless migration of legacy RFQ system to cloud
                                    and integrated the new platform with multiple ERP systems of manufacturers. Provided a unified view of the quotation
                                    process to key stakeholders spread across the world.</p>
                                <div class="slide-divider border-top text-primary mb-4"></div>
                                <p class="slide-conclusion text-dark fw-bold">Modern solution with database automation on Azure reduced turnaround time to generate
                                    quotation by 70%.</p>
                                <a name="Modernization of legacy inventory system for a leading manufacturer of utility transmission part"
                                    class="line-btn"
                                    href="https://www.simform.com/case-studies/enterprise-app-development-for-utility-transmission-manufacturer/"
                                    tabindex="0" data-faitracker-click-bind="true">
                                    <div class="line-decoration"></div>
                                    See More
                                </a>
                                </div>
                        </div>
                        <div class="col-lg-5 col-md-6 m-auto">
                            <img src="assets/images/common/education.png" alt="" class="breadcrumb-shape-4">
                        </div>
                     </div>   
                </div>
            </div>

          
            </div>
        <!-- <div class="swiper-button-next cs-next" tabindex="0" role="button" aria-label="Next slide"></div>
        <div class="swiper-button-prev cs-prev" tabindex="0" role="button" aria-label="Previous slide" ></div> -->
        <span class="swiper-notification mt-3" aria-live="assertive" aria-atomic="true"></span></div> 
        <div class="swiper-pagination cs-pagination"></div>

    </div>

    <div class="text-center mt-5 mb-4">
        <button type="button" class="btn rounded-pill btn-outline-primary waves-effect">Explore All Insights
            <span class="icon-xs icon-base ti ti-arrow-right ms-2"></span></button>
    </div>
</div>
</div>